.dialog.accountDialog
    .head
        span.title 标题
        i.iconfont.icon-close(@click='close')
    .content
    .foot
        el-button(@click='confirm' type='primary') 保存
        el-button(@click='close') 取消
